body {
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");
  background-repeat: repeat;
  background-color: #286870;
}

.list-group-item-action:hover {
  background-color: #7a7c7e;
  transition: background-color 0.2s;
}